# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 缓存
cache/

# 生成的文本文件
source/tools/code_summary.txt
source/tools/path.txt

# MuJoCo
MUJOCO_LOG.TXT

# 测试文件
test/
next_step.md
test.ipynb

# 日志文件
logs/

# 训练检查点
rl_models/
runs/